* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #fff; */
}

body {
  background-color: #453c67;
}

.button1 {
  color: #fff;
  margin: 16px 0;
  outline: none !important;
  font-size: 18px;
  padding: 9px;
  font-family: cursive;
  background-color: #453c67;
}

.button1:hover {
  background-color: #fff;
  color: #453c67;
}

.button1:active,
.button1:focus {
  outline: none !important;
  box-shadow: none !important;
}

.project-header {
  color: #453c67;
  text-align: center;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
}
