* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abril Fatface", cursive;
  font-family: "Almarai", sans-serif;
  font-family: "Amatic SC", cursive;
  font-family: "Chakra Petch", sans-serif;
  font-family: "El Messiri", sans-serif;
  font-family: "Finlandica", sans-serif;
  font-family: "Kufam", sans-serif;
  font-family: "Nanum Myeongjo", serif;
  font-family: "Tajawal", sans-serif;
  font-family: "Titillium Web", sans-serif;
  /* border: 1px solid #fff; */
}

body {
  background-color: #453c67;
}

.button1 {
  color: #fff;
  margin: 16px 0;
  outline: none !important;
  font-size: 18px;
  padding: 9px;
  background-color: #453c67;
  border-radius: 10px;
}

.button1:hover {
  background-color: #fff;
  color: #453c67;
}

.button1:active,
.button1:focus {
  outline: none !important;
  box-shadow: none !important;
}

.project-header {
  color: #453c67;
  text-align: center;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
}
/* 
  width: 100% for the lazy loading images to work properly
*/

.lazy-load-image-loaded {
  width: 100%;
}
